name: APK Yapici
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      
      # 1. TEMELİ AT (Klasörleri oluştur)
      - run: flutter create --project-name blind_id_app .
      
      # 2. SİHİRLİ DOKUNUŞ (İnternet İznini Zorla Ekle)
      - run: |
          sed -i 's|<application|<uses-permission android:name="android.permission.INTERNET"/>\n    <application|g' android/app/src/main/AndroidManifest.xml
      
      - run: flutter pub get
      
      - run: flutter build apk --release --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v4
        with:
          name: blind-id-apk
          path: build/app/outputs/flutter-apk/app-release.apk
