name: APK Yapici
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      
      # İŞTE SİHİRLİ DOKUNUŞ BURASI
      # Bu komut eksik olan Android klasörlerini yaratacak
      - run: flutter create .
      
      - run: flutter pub get
      
      - run: flutter build apk --release --no-tree-shake-icons
      
      - uses: actions/upload-artifact@v4
        with:
          name: blind-id-apk
          path: build/app/outputs/flutter-apk/app-release.apk
